/* PC */
@media(min-width: 1366px){
/* Formatação do HTML base */

    body {
        margin: 0;
        background-color: #789fba;
        color: white;
        font-family: "Arial", Helvetica, sans-serif;
        
    }

    footer {
        background-color: #aca2d0;
        display: flex;
    }


    li {
        list-style-type: none; 
    }

    h1 {
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
        padding-left: 20px;
    }


/* Formatação dos Id´s */

/* Headers id´s */

    /*imagem da logo*/
    #logo  {
        display: block;
        flex-direction: row;
        border-radius: 100%;
        height: auto;
        width: 10% ;
        margin-left: 5%;
        
    }

    /*Cabeçalho*/
    #links_header {
        float: right;
        margin-top: -8%;
        margin-right: 15%;
        display: flex;
        flex-direction: row;
        font-size: 1.5em;
        width: 70%;
        
        align-items: center ;
    }
  
    /* Relatorio */
    #relatorio_header {
        color: white;
        transition: background 1s;
        margin-left: 10%;
        margin-top: 1%;
        border-radius: 5%;
        padding-right: 3%;
        padding-top: 2%;
        width: 30%;
        height: 30%;
        border-radius:10px;
        
        
    }

    #relatorio_header:hover{
        background: #ffa600;
    }

    /* Monitoramento */
    #monitoramento_header {
        color: white;
        transition: background 1s;
        margin-left: 10%;
        margin-top: 1%;
        border-radius: 5%;
        padding-right: 3%;
        padding-top: 2%;
        height: 30%;
        width: 30%;
        border-radius:10px;
        border-color: black;

    }

    #monitoramento_header:hover{
        background: #ffa600;
    }

    /* Planejamento */
    #planejamento_header {
        color: white;
        transition: background 1s;
        margin-left: 10%;
        margin-top: 1%;
        border-radius: 5%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 2%;
        width: 30%;
        height: 50%;
        border-radius:10px;
        border-color: black;
        text-align: justify-all;
    }

    #planejamento_header:hover{
        background: #ffa600;

    }

    /* quem_somos */
    #quem_somos_header {
        color: white;
        transition: background 1s;
        margin-left: 10%;
        margin-top: 1%;
        border-radius: 5%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 2%;
        width: auto;
        height: 50%;
        border-radius: 10px;
        border-color: black;
        text-align: justify-all;
    }

    #quem_somos_header:hover{
        background: #ffa600;
        
    } 

    .topnav{
        display: none;
    }

    /* Body id´s */

    /* Div: #principal */
    #principal {
        margin-top: 3%;
        background-color: white;
        border: 2px solid #ffa600;
        width: 75%; 
        margin-left: 10em;
        border-radius: 30px 0px 30px 0px;
        margin-bottom: 3%;

    }

    #principal, h1 {
        text-align: center;
        color: black;
    }

    /* Div: #quem_somos */
    #quem_somos {
        background-color: #aca2d0;
        padding: 2.5%;
        margin: 2.5%;
        border-radius: 10px;
        display: flex;
    }

    #quem_somos, p {
        
    }


    /* Div: #patrocinadores */
    #patrocinadores {
        background-color: #aca2d0;
        padding: 2.5%;
        margin: 2.5%;
        border-radius: 10px;
    }

    /* Icone dos patrocinadores */
    #patrocinador_icon {
        height: 10%;
        width: 10%;
        justify-content: right;
    }

    /* Footer id´s */
    /* Área de contato*/
    #contato {
        width: 30%;
        border-right: 2px solid #ffa600;
    }

    #contato, h3 {
        text-align: center;
    }

    /* Área das Mídias Sociais */
    #social-media {
        width: 30%;
        border-right: 2px solid #ffa600;
    }

    #social-media, h3 {
        text-align: center;
    }

    /* Área do endereço */
    #endereco {
        width: 30%;
    }

    #endereco, h3 {
        text-align: center;
    }
    
    #endereco, p {
        text-align: auto;
    }

    /* Header class´s */

    /* Classe da imagem: .quem_somos */
    .img_quemsomos {
        border-radius: 100%;
        width: 10em;
        height: 10em;
        display: inline-block;
        
    }
    .img_quemsomos, p {
        margin-top: 10%;
        display: inline-block;

    }

    /* Body class´s */

    /* Formatação das linhas (<hr>):  */
    .linha_maior {
        width: 70%;
        color: #ffa600;
    }
    .linha_menor {
        width: 50%;   
        color: #ffa600;
    }

    /* Formatação dos parágrafos */
    .div_paragrafo {    
        justify-content: left;
    }

}