
/* Bootstrap */


/* Formatação do HTML base */
body {
    margin: 0;
    background-color: #789fba;
    color: white;
    font-family: "Arial", Helvetica, sans-serif;
    
}

footer {
    background-color: #aca2d0;
    display: flex;
}


li {
    list-style-type: none; 
}

h1 {
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}


/* Formatação dos Id´s */

/* Headers id´s */

/*imagem da logo*/
#logo  {
    display: flex;
    flex-direction: row;
}

/*Cabeçalho*/
#links_header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#relatorio_header {
    color: white;
    transition: background 1s;
     margin-left: 15%;
      margin-top: 1%;
       border-radius: 5%;
       padding-right: 3%;
       padding-top: 2%;
       width: auto;
       height: 30%;
       border-radius:10px;
       border-color: black;
  }

#relatorio_header:hover{
    background: yellow;
}

#monitoramento_header {
    color: white;
    transition: background 1s;
     margin-left: 15%;
      margin-top: 1%;
       border-radius: 5%;
       padding-right: 3%;
       padding-top: 2%;
       height: 30%;
       width: auto;
       border-radius:10px;
       border-color: black;
  }

#monitoramento_header:hover{
    background: yellow;
}

  #planejamento_header {
    color: white;
    transition: background 1s;
     margin-left: 15%;
      margin-top: 1%;
       border-radius: 5%;
       padding-right: 3%;
       padding-left: 3%;
       padding-top: 2%;
       width: auto;
       height: 50%;
       border-radius:10px;
       border-color: black;
  }

#planejamento_header:hover{
    background: yellow;

}

#quem_somos_header {
    color: white;
    transition: background 1s;
    margin-left: 15%;
    margin-top: 1%;
    border-radius: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
    width: auto;
    height: 50%;
    border-radius:10px;
    border-color: black;
}

#quem_somos_header:hover{
    background: yellow;
    
}

/* Body id´s */

#principal {
    margin-top: 3%;
    background-color: white;
}

#principal, h1 {
    text-align: center;
    margin-bottom: 3%;
    color: black;
}

#quem_somos {
    background-color: #aca2d0;
    padding: 2.5%;
    margin: 2.5%;
    border-radius: 5%;
    display: flex;
}

#quem_somos, p {
    align-items: inline;
}

#patrocinadores {
    background-color: #aca2d0;
    padding: 2.5%;
    margin: 2.5%;
    border-radius: 10px;
}
#patrocinador_icon {
    height: 10%;
    width: 10%;
    justify-content: right;
}
/* Footer id´s */
#contato {
    width: 33%;
}

#social-media {
    width: 33%;
}

#endereco {
    width: 33%;
}

/* Header class´s */
.ietec_logo {
    border-radius: 100%;
    width: 10em;
    height: 10em;
}

.img_quemsomos {
    border-radius: 100%;
    width: 10em;
    height: 10em;
    position: right; 
}

/* Body class´s */
.linha_maior {
    width: 70%;
    color: #ffa600;
}
.linha_menor {
    width: 50%;   
    color: #ffa600;
}
.div_paragrafo {    
    justify-content: left;
}
