/* Formatação do HTML base */
body {
    margin: 0;
    background-color: #789fba;
    color: white;
}

footer {
    background-color: #aca2d0;
    display: flex;
}


li {
    list-style-type: none; 
}

h1 {
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}


/* Formatação dos Id´s */

/* Headers id´s */

#logo{
    float: left;
    padding-top: 10px; 
}

#links {
    font-size: 24px;
    display: flex;
    justify-content: right;
    margin-right: 3%;   
    
}

#links:hover{

    background-color: #ffa600;
}

/* Body id´s */

#principal{
    margin-top: 3%;
}

#principal, h1{
    text-align: center;
    margin-bottom: 3%;
}

#quem_somos {
    background-color: #aca2d0;
    padding: 2.5%;
    margin: 2.5%;
    border-radius: 10px;
}

#patrocinadores {
    background-color: #aca2d0;
    padding: 2.5%;
    margin: 2.5%;
    border-radius: 10px;
}
#patrocinador_icon {
    height: 10%;
    width: 10%;
    justify-content: right;
}
/* Footer id´s */
#contato {
    width: 33%;
}

#social-media {
    width: 33%;
}

#endereco {
    width: 33%;
}

/* Header class´s */
.ietec_logo {
    border-radius: 100%;
    width: 10em;
    height: 10em;
}

/* Body class´s */
.linha_maior {
    width: 70%;
    color: #ffa600;
}
.linha_menor {
    width: 50%;   
    color: #ffa600;
}
.div_paragrafo {    
    justify-content: left;
}

