/* Cores: 1 #003f5c
        2 #4c86af
        
 */

/* Estrutura básica do HTML  */
    body {
        margin: 0;
        background-color: white;
        color: white;
        font-family: "Arial", Helvetica, sans-serif;        
    }

    footer {
        background-color: #547e9a;
        display: block;
    }

    li {
        list-style-type: none; 
    }

    h1 {
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
        padding-left: 20px;
    }

/* Tela de login */
#email_login #senha_login{
    color: black;
}

    
/* Selecione o Planejamento (página) */
    .selecione_planejamento{
        background-color: #003f5c;
        width: auto;
        height: 40em;
        color: white;
        text-align: center;
        
    }

    #botão_empresa, #botão_pessoal {
        background-color: rgba(255, 255, 255, 0);
        padding: 1.5%;
        font-size: 20px;
        margin: 8%;
        margin-top: 18%;
        border-color: yellow;
        color: white;
    }
    
    #botão_empresa:hover {
        background-color: yellow;
        color: black;
    }
    
    
/* Header */
    .cabecalho{
        width: 100%;
        float: left; 
        padding: 3% 4%;

    }

    .logo{
        width: 5em;
        height: auto;
        float: left;
        margin-left: 3%;
        flex-direction: row;
        margin-top: -2%;
    }

    .header {
        overflow: hidden;
        background-color: #547e9a;
        height: 70px;
        padding: 20px 10px;
    }

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px; 
        line-height: 25px;
        border-radius: 4px;
    }

    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }

    a.logo:hover {
        background-color: #72acd391;
    }

    .estilo-a:hover {
        background-color: rgb(253, 245, 1);
        color: #003f5c;
    }

    .header-right {
        float: right;
        padding-top: 10px;

    }

/* Footer */
    .htext{
        font-size: 24px;
        color: #003148;
    }

    /* Formatação do rodapé */
    .rodape {
        display: flex;
    }

    /* Formatação dos contato */
    .contato{
        border-right: 2px solid #003f5c;
        width: 30%;
        text-align: center;
    }

    /* Formatação das rede social*/
    .redes_sociais{
        border-right: 2px solid #003f5c;
        width: 30%;
        text-align: center;
    }

    .social{
        color: white;
    }

    /* Formatação do endereço */
    .endereco{
        text-align: center;
        width: 40%;
    }


/* index.html */
    /* Formatção dos Id´s */
    #principal {
        background-color: #003f5c;
        width: auto;
        height: 34em;
        margin-top: -3%;  
        color: lightgray;   
    }
        
    #incubadora{
        color: lightgray;
        text-align: center;
        font-size: 60px;
        padding-top: 50px;
    }
        
    #paragrafo{
        color: lightgray;
        width: 50%;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 5%;
    }
        
    #h2_somos{
        display:inline-table;
        margin-top: 5%;
        margin-left: 5%;
        color:black;
    }
        
    #p_somos{
        color: black;
        margin-left: 5%;
        text-align: justify;
        width: 65%;
    }

    #img_somos {
        width: 15%;
        float: right;
        margin-top: -18%;
        padding-right: 60px;   
    }
        
    #quem_somos_text {
        display: inline;
    }

/* Formatação "Quem somos": index */
    .quem_somos {
        margin-top: -2%;
        background-color: white;
        width: 65em;
        margin: 0 auto;
        margin-top: 8%;
        border: 3px solid #547e9a;
        border-radius: 50px 0px 50px 0px;
        margin-bottom: 3%;
        height: 300px;
    }

/* Formatação das linhas(<hr>):  */
    .linha_maior {
        margin-top: 18%;
        width: 70%;
        color: #547e9a;
    }

    .linha_menor {
        width: 50%;   
        color: #547e9a;
    }


/* dashboard.html */
#h3_dashboard{
    font-size: 24px;
    color: black;
}
.p_dashboard{
    font-size: 12px;
    color: black;
}
.p_dashboard2{
    font-size: 15px;
    color: black;
}



/* empresa_planejamento.html */
    #div_cabeçalho_empresa_planejamento{
        color: black;
        padding-bottom: 50px;
        text-align: center;
    }

    #div_conteudo_empresa_planejamento{
        color: black; 
        padding-bottom: 50px; 
        text-align: center;
    }

    #table_empresa_planejamento{
        color: black; 
        width: 100%; 
        margin-bottom: 50px; 
        background-color: lightgray;
    }
    
    .color_empresa_planejamento{
        background-color: white;
    }
    
    .colorth_empresa_planejamento{
        background-color: lightgray;
    }


/* login.html */



/* monitoramento.html */
    /* Formatação dos textos de monitoramento */
    #h3_monitoramento {
        color: #003148;
        padding-bottom: 2%;
        text-align: center;
    }

    /* primeira lista do monitoramento */
    #cor1{
        color: #003148;
    }

    /* Cor da lista */
    #lista_monitoramento {
        color: #003148;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* primeira tabela do monitoramento */
    #table1_monitoramento tr {
        width: 100%;
        border: 1px solid black;
    }

    #input_monitoramento {
        text-align: center;
        display: inline;
        
    }

    #nome_empresa_monitoramento {
        flex-direction: column;
    }
    
    #cnpj_monitoramento {
        flex-direction: column;
    }

    #data_incubacao {
        flex-direction: column;
    }

    #data_geracao {
        flex-direction: column;
    }


/* pessoal_planejamento.html */
    #h2_pessoal{
        color: black;
        text-align: center;
    }

    #div_conteudo_pessoal{
        color: black;
        padding-bottom: 50px;
        text-align: center;
    }
    
    #table_pessoal_planejamento{
        width: 100%; 
        color: black; 
        background-color:gray; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }
/* quem_somos.html */


/* relatorios.html */
/* Página Relátorios */

    /* Formatação do botão: criar*/
    .criar{
        margin-top: 1.5%;
        border: 1px solid rgb(122, 122, 122);
        border-radius: 8px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0);
    }
    
    /* Formatção dos Id´s */
    #relatorio_principal {
        margin: 10em;
        text-align: center;
    }

    /* formatação dos Select */
    #select1 {
        margin-bottom: 1.5%;
        margin-left: 0.8%;
        border: 1px solid rgb(122, 122, 122);
        border-radius: 8px;
        width: 10%;
        background-color: rgba(0, 0, 0, 0);
    }
    #select2 {
        margin-bottom: 1.5%;
        margin-left: 0.8%;
        border: 1px solid rgb(122, 122, 122);
        border-radius: 8px;
        width: 10%;
        background-color: rgba(0, 0, 0, 0);
    }
    #select3 {
        margin-bottom: 1.5%;
        margin-left: 0.8%;
        border: 1px solid rgb(122, 122, 122);
        border-radius: 8px;
        width: 10%;
        background-color: rgba(0, 0, 0, 0);
    }
    
    /* Formatação do input: date*/
    #data {
        border: 1px solid black;
        border-radius: 10px;
        align-items: center;
    }
    
    /* Tabela: Relatórios */
    .tb_relatorios {
        border: 10px solid #003148;
        border-radius: 15px;
        width: 100%;
        color: white;
        background-color: #003148;
    }
    
    .borda_empresa {
        width: 75%;
        border: 1px hidden black;
        border-left: solid;
        
    }

    /* Formatação da coluna: empresa */
    .borda_data {
        width: 25%;
        border: 1px hidden black;
        
    }

