
    body {
        margin: 0;
        background-color: #789fba;
        color: white;
        font-family: "Arial", Helvetica, sans-serif;        
    }

    footer {
        background-color: #aca2d0;
        display: block;
    }


    li {
        list-style-type: none; 
    }

    h1 {
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
        padding-left: 20px;
    }


.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo{
    width: 5em;
    height: auto;
    float: left;
    margin-left: 3%;
    flex-direction: row;
    margin-top: -2%;
}


.header {
    overflow: hidden;
    background-color: #aca2d0;
    height: 80px;
    padding: 20px 10px;

}
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: rgb(253, 245, 1);
    color:  blue;
}
  
  .header-right {
    float: right;
}

#principal {
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 40em;
    margin-top: -3%;  
    color: black;
}

#incubadora{
    color: #aca2d0;
    text-align: center;
    font-size: 60px;
}

#paragrafo{
    color: white;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 5%;
}

 /* Formatação das linhas (<hr>):  */
 .linha_maior {
    margin-top: 15%;
    width: 70%;
    color: #ffa600;
}
.linha_menor {
    width: 50%;   
    color: #ffa600;
}